
.div2{
    height: 48%;
    width: 100%;    
}
.div1{
  height: 50%;
  width: 100%;     
}

@media (max-width: 768px) {
    .div1 {
      height: auto; 
    }
  }
.slider-image {
  width: 100vw;
  height: 100vh;
  object-fit: fill; /* Strictly stretches the image — may distort but fills completely */
}

  /* Adjust the image size based on screen width for tablets */
@media (max-width: 1024px) {
  .slider-img {
    max-width: 80%; /* Decrease image size for tablets */
  }
}

/* Adjust the image size based on screen width for mobile phones */
@media (max-width: 768px) {
  .slider-img {
    max-width: 90%; /* Decrease image size for mobile phones */
  }
}

/* Adjust the image size based on screen width for smaller mobile phones */
@media (max-width: 480px) {
  .slider-img {
    max-width: 95%; /* Decrease image size for smaller mobile phones */
  }
}
  .carousel-container {
    width: 100%; 
    height: 10%;/* Adjust this value as needed */
    margin: 0 auto;
  }
  .carousel-background {
  background-color: #F8DC88;
  padding: 0;
  margin: 0;
}