  .custom-navbar {
    background-color:rgb(181, 73, 19)!important;
    padding-left: 2px;
    padding-right: 12px;
    height: 70px;
  }
  
  .btn-spacing {
    margin-left: 10px; 
  }

  
  .btn-primary-spacing{
    margin-left: 10px;
  }