.oval-container {
    width: 200px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    background-color: rgb(236, 103, 37);
    border-radius: 50%; /* This will make it an oval shape */
    display: inline-block;
    padding: 20px; /* Adjust padding inside the oval */
    text-align: center;
    border:2px solid red;
    margin-left: 120px;
}

.text {
    line-height: 1.5;
    margin-top:50px;
    ; /* Adjust line height as needed */
}

@media screen and (max-width: 768px) {
    .oval-container {
        width: 80%; /* Adjust width for smaller screens */
        max-width: none; /* Remove maximum width */
    }
}